
$switch-time : 0.5s;
$switch-transition-type :linear;

.left-in
{
    animation-name : leftIn;
    animation-duration : $switch-time;
    transition-timing-function: $switch-transition-type;
    animation-fill-mode: both;
}
.left-out
{
    animation-name : leftOut;
    animation-duration : $switch-time;
    transition-timing-function: $switch-transition-type;
    animation-fill-mode: both;
}
.right-in
{
    animation-name : rightIn;
    animation-duration : $switch-time;
    transition-timing-function: $switch-transition-type;
    animation-fill-mode: both;
}
.right-out
{
    animation-name : rightOut;
    animation-duration : $switch-time;
    transition-timing-function: $switch-transition-type;
    animation-fill-mode: both;
}



@keyframes leftIn
{
    0%
    {
        transform: translateX(-100%);   
    }
    100%
    {
        transform: none;
    }
}
@keyframes leftOut
{
    0%
    {
        transform: none;      
    }
    100%
    {
        transform: translateX(100%);
    }
}


@keyframes rightIn
{
    0%
    {
        transform: translateX(100%);   
    }
    100%
    {
        transform: none;
    }
}
@keyframes rightOut
{
    0%
    {
        transform: none;     
    }
    100%
    {
        transform: translateX(-100%);
    }
}