$col-dark : rgb(30, 30, 30);
$col-blue : rgb(60, 126, 238);
$col-light : #FBFBFC;
$col-light-t-50 : #FBFBFC88;
$col-brown : #A35620;
$col-green : #3ccc4d;
$col-orange : #e86b56;
$col-light-blue : rgb(10, 113, 176);

$col-dark-t-50 : rgba(29, 29, 29, 0.500);
$col-dark-t-75 : rgba(29, 29, 29, 0.750);

$theme-colors: (
    "dark": $col-dark,
    "primary": $col-blue,
    "light" : $col-light,
    "brown" : $col-brown,
    "white" : $col-light,
    "green" : $col-green,
    "orange" : $col-orange,
    "light-blue" : $col-light-blue
  );


$cursor-background : 75%;
$cursor-background-2 : $cursor-background + 1%;
$top-color : $col-blue;
$bottom-color : $col-dark;
$background-index : linear-gradient(0deg, $col-dark 0%, $col-dark $cursor-background, $col-blue  $cursor-background, $col-blue  100%);
//linear-gradient(0deg, #1e1e1e 0%, #1e1e1e 50%, #3c7eee 51%, #3c7eee 100%)
//linear-gradient(0deg, rgba(30,30,30,1) 0%, rgba(30,30,30,1) 49%, rgba(45,147,253,1) 51%, rgba(45,147,253,1) 100%);