
/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
    font-size: 1rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
    img
    {
        width: 2rem;
    }
   
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid $col-brown;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: $col-dark;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $col-light;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
} 

#block-study
{
    ul.timeline:before {     
        background: $col-brown;       
    }

    .timeline-arrow {
        border-right: 0.5rem solid $col-brown;  
    }
}
#block-exp
{
    ul.timeline:before {     
        background: $col-green;       
    }

    .timeline-arrow {
        border-right: 0.5rem solid $col-green;  
    }
}




//Si petite taille
@media (max-width : 768px)
{

    ul.timeline {
        list-style-type: none;
        position: relative;
        padding-left: 1.3rem;
        font-size: 0.9rem;
    }

    li.timeline-item {
        
        img
        {
            display: none;
        }
       
    }
}