@import "badge";
@import "fonts";
@import "colors";
@import "animation";
@import "svg";

@import "timeline";

@import "../bootstrap/scss/bootstrap.scss";


html,body
{
    width: 100%;
    height: 100%;
    color : #707070;
    font-size: 1rem;
    font-family: "roboto",Arial, Helvetica, sans-serif;
    background: $background-index,$col-dark;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#block-index
{
    img
    {
        height: 5rem;
    }
    img.profil
    {
        height: 8rem;
    }
    h1
    {
        font-size: 1.5rem;
    }
}

.bloc
{
    height: auto;
    min-height: 100%;
    width: inherit;
    position : absolute;
    display: flex;
}

strong
{
    font-size: 1.3em;
    font-style: bold;
    color : $col-blue;

}


span.citation
{
    font-style: italic;
    font-size: 0.9rem;
}

a:hover
{
    text-decoration: underline;
}

a.blue
{
    color: $col-blue;
}
a.green
{
    color: $col-green;
}
a.brown
{
    color: $col-brown;
}


$opacity-color-blue : 0.9;

#block-skill
{    
    background-image: url("../image/competences.png");
    background-repeat: repeat-y;
    background-size: cover;
    color : $col-blue;
    padding-top: 1em;
    transform : translateX(-100%);
}
#block-study
{
    background-image: url("../image/Study.png");
    background-repeat: repeat-y;
    background-size: cover;
    transform : translateX(100%);
}
#block-exp
{
    background-image: url("../image/teamwork-2.png");
    background-repeat: repeat-y;
    background-size: cover;
    transform : translateX(100%);
}

.media
{
    background-color: $col-dark-t-75;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em black;
    height: 5rem;
    img
    {
        width: 5rem;
    }
}

h2.text-small
{
    font-size: 1rem;
}
.text-small
{
    font-size: 0.8rem;
}

//Si petite taille
@media (max-width : 768px)
{ 
    html,body
    {
        font-size: 1rem; 
    }
    .media
    {       
        word-wrap: break-word;
        height: 5rem;
    }
  
}
//Sinon 
@media (min-width : 769px)
{
    .media
    {              
        font-size : 1.2rem;
    }
    html,body
    {

        font-size: 1.5rem; 
    }
}

.fixed-sm-left-top
{
    left :0;
    top:0;
}
.fixed-sm-right-top
{
    right :0;
    top:0;
}
//Si taille moyenne
@media (max-width : 992px)
{    
    .fixed-sm-left-top
    {
       position: initial!important;
    }
    .fixed-sm-right-top
    {
        position: initial!important;
    }
}